@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

body {
    background-color: #ffffff;
}

br {
    line-height: 15px;
}

.content {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-top: 5%;
    text-align: center;
    margin: auto;
}

.featured-items {
    font-family: 'Luckiest Guy', sans-serif;
    color: black;
}

.daily-items {
    font-family: 'Luckiest Guy', sans-serif;
    color: #000000;
}

.brand-logo {
    margin-top: 8px;
}

.rarity {
    border: 5px black solid;
    background-size: 550px 550px;
}

.uncommon-rarity {
    position: relative;
    background-color: #478C2E;
    border: 3px #87E339 solid;
    width: 285px;
    height: 285px;
    margin: auto;
    text-align: center;
}

.uncommon-rarity img {
  width: 280px;
  height: 280px;
}

.rare-rarity {
    position: relative;
    background-color: #48A8EF;
    border: 3px #37D1FF solid;
    width: 285px;
    height: 285px;
    margin: auto;
    text-align: center;
}

.rare-rarity img {
  width: 280px;
  height: 280px;
}

.epic-rarity {
    position: relative;
    background-color: #AC59DD;
    border: 3px #E95EFF solid;
    width: 285px;
    height: 285px;
    margin: auto;
    text-align: center;
}

.epic-rarity img {
  width: 280px;
  height: 280px;
}

.legendary-rarity {
    position: relative;
    background-color: #B16033;
    border: 3px #E98D4B solid;
    width: 285px;
    height: 285px;
    margin: auto;
    text-align: center;
}

.legendary-rarity img {
  width: 280px;
  height: 280px;
}

.item-name {
    position: absolute;
    bottom: -16.2%;
    /* top: 5%; */
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Luckiest Guy', sans-serif;
    color: white;
    font-size: 25px;
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.item-name img {
  width: 20px;
  height: 20px;
}

span {
    display: inline-block;
}
